@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'); 
body, html {
    height: 100%;
    margin: 0;
}

.center-texth {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Empile le texte et l'image verticalement */
    justify-content: center;
    align-items: center;
    height: 85vh; /* Augmente la hauteur pour descendre l'ensemble */
}

.center-texth p {
    font-size: 5.5rem;
    color: #ffffff;
}

.circleh {
    margin-top: 155px; /* Espace augmenté entre le texte et l'image */
    width: 400px; /* Taille du cercle augmentée */
    height: 400px; /* Taille du cercle augmentée */
    border-radius: 50%; /* Rend l'image ronde */
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleh img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre entièrement le cercle */
}

.background-texth {
    font-size: 5.5rem;
    color: rgba(217, 217, 217, 0.1); /* Couleur grise avec transparence */
    position: absolute;
    z-index: 1; /* Place derrière le texte du premier plan */
    left: 105vh;
    top: 28vh;
    transform: translateX(-50%); /* Centre horizontalement */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: #D9D9D9;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.toggle-btn {
    display: none;
    background: none;
    color: #D9D9D9;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between; /* Centre les éléments */
    flex-grow: 1; /* Permet à la liste de remplir l'espace disponible */
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #D9D9D9;
    text-decoration: none;
}

.nav-links a.active {
    color: #595959;
    text-decoration: none;
    text-decoration: underline;
}

.nav-links a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: #595959;
}

body {
    background-color: #262626;
}

.logo {
    margin-right: 30%; /* Ajoute un espace de 30% à droite du logo */
    flex-shrink: 0; /* Empêche la réduction de taille du logo */
}

.logo-imgi, .logo-imgi-1 {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: auto;
    display: block;
    transition: transform 0.3s ease;
}

.logo-imgi:hover, .logo-imgi-1:hover {
    transform: scale(1.1);
}

.foreground-texth {
    font-size: 2rem;
    z-index: 2;
    position: relative;
}





.logo-img, .logo-img-1 { 
    width: 100%; 
    height: auto; 
    max-width: 400px; 
    margin: auto; 
    display: block; 
    transition: transform 0.3s ease; 
} 


.logo-img:hover, .logo-img-1:hover { 
    transform: scale(1.1); 
} 
 

.center-texti { 
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 35vh; 
} 



.center-texti p { 
    font-size: 4.5rem; 
    color: #ffffff; 
} 
 

.foreground-texti { 
    font-size: 5rem; 
    z-index: 2; 
    position: relative; 
} 
 

.background-texti { 
    font-size: 10rem; 
    color: rgba(217, 217, 217, 0.1); /* Couleur grise avec transparence */ 
    position: absolute; 
    z-index: 1; /* Place derrière le texte du premier plan */ 
    left: 102vh; 
    top: 100vh; 
    transform: translateX(-50%); /* Centre horizontalement */ 
} 
 

.button-containeri { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 5vh;  
} 
 

.boton-elegantei { 
    padding: 15px 30px; 
    border: 2px solid #2c2c2c; 
    background-color: #1a1a1a; 
    color: #ffffff; 
    font-size: 1.2rem; 
    cursor: pointer; 
    border-radius: 30px; 
    transition: all 0.4s ease; 
    outline: none; 
    position: relative; 
    overflow: hidden; 
    font-weight: bold; 
} 

 
.boton-elegantei::after { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: radial-gradient(circle, rgba(255,255,255,0.25) 0%, rgba(255,255,255, 0) 70%); 
    transform: scale(0); 
    transition: transform 0.5s ease; 
}  

 
.boton-elegantei:hover::after { 
    transform: scale(4); 
} 
 

.boton-elegantei:hover { 
    border-color: #666666; 
    background: #29292929; 
} 


.rectangles-containeri { 
    display: flex; 
    justify-content: center; 
    gap: 200px; 
    margin-top: 70px; 
} 
 

.rectanglei { 
    width: 250px; 
    height: 250px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    background-color: #595959; 
} 

body, html {  

    height: 100%; margin: 0; }  



.containera {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100%; }  


 

 

form {  
    max-width: 400px;  
    margin: auto;  
    padding: 3em;  
    background: #f9f9f9;  
    border-radius: 5px; 
}  


label {  
    margin-bottom: .5em;  
    color: #333333;  
    display: block; 
}  




.toggle-btn { 
    display: none; 
    background: none; 
    color: #D9D9D9; 
    border: none; 
    cursor: pointer; 
} 


.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 12%;
}

.circlea {
    margin-top: 127px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circlea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rectanglea { 
    width: 450px;
    height: 450px; 
    background-color: #0D0D0D;
    color: #D9D9D9; 
    padding: 1.8rem; 
    margin-left: 25rem; 
    border-radius: 23px; 
    font-family: 'Inter', sans-serif; 
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start; 
    text-align: left;
    font-size: 2.7ch;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5); /* Ombre en bas à gauche */
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'); 
body, html {  

    height: 100%; margin: 0; }  



.containerp {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100%; }  


 

form {  
    max-width: 400px;  
    margin: auto;  
    padding: 3em;  
    background: #f9f9f9;  
    border-radius: 5px; 
}  


label {  
    margin-bottom: .5em;  
    color: #333333;  
    display: block; 
}  




.toggle-btn { 
    display: none; 
    background: none; 
    color: #D9D9D9; 
    border: none; 
    cursor: pointer; 
} 



.containerp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 12%;
}

.containerp { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    padding: 2rem 0; 
} 

.rowp { 
    display: flex; 
    justify-content: space-between; 
    width: 80%; margin: 1rem 0; 
} 

.rectanglep { 
    width: 20%; /* Adjust to fit four columns */ 
    height: 235px; /* Adjust height as needed */ 
    background-color: #595959; 
    color: #D9D9D9; 
    padding: 1rem; 
    border-radius: 25px; 
    font-family: 'Inter', sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'); 
body, html {  

    height: 100%; margin: 0; }  



.containerc {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100%; }  




label {  
    margin-bottom: .5em;  
    color: #333333;  
    display: block; 
}  


input[type="text"],  
input[type="email"] {  
    border: 1px solid #CCCCCC;  
    padding: 3.5em; 
    font-size: 1em;  
    width: 100%;  
    box-sizing: border-box;  
    margin-bottom: 1em;
}  

 

input[type="submit"] {  
    padding: 0.7em;  
    color: #fff;  
    background-color: #007BFF;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer; 
}  


input[type="submit"]:hover {  
background-color: #0056b3; }



.toggle-btn { 
    display: none; 
    background: none; 
    color: #D9D9D9; 
    border: none; 
    cursor: pointer; 
} 

